.header.clearfix
  .nav
    %ul.nav.nav-pills.pull-xs-right
      %li.nav-item.active
        %a.nav-link{href: "#about"}
          about
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link{:href => "#projects"}projects
      %li.nav-item
        %a.nav-link{:href => "#contact"}contact
.row#about
  .col-md-3
    = image_tag 'https://s3-us-west-2.amazonaws.com/gabe-random/Gabe_1.jpg', class: 'profile-picture'
  .col-md-6
    %h2 Gabe Dominguez
    %p 
      San Francisco native, software engineer, environmentalist, and citizen space explorer.
    .row
      .col-xs-6
        %h4 Front-end
        %ul
          %li HTML
          %li HAML
          %li CSS
          %li SASS
          %li JavaScript
      .col-xs-6
        %h4 Back-end
        %ul
          %li Ruby on Rails
          %li PostgreSQL
          %li Git
          %li Rspec
          %li Capybara

.row#projects
  .col-md-12
    %p.lead Past Projects
  .col-md-12
    #project-carousel.carousel
      .carousel-inner
        #project-row
          - @project_hash.keys.each do |name|
            = render 'cover_item', project_name: name
      %a{class: "left carousel-control", role: "button", 'data-slide' => "prev"}
        %span{class: "icon-prev", 'aria-hidden'=> "true"}
      %a{class: "right carousel-control",role: "button", 'data-slide' => "next"}
        %span{class: "icon-next", 'aria-hidden'=> "true"}

- @project_hash.keys.each do |name|
  .jumbotron.project-detail{id: "#{name}-detail"}
    = render "#{name}_detail"

.row#contact
  .col-sm-12
    %a{:href => 'mailto:gabe.p.dominguez@gmail.com'}
      %img(src='https://s3-us-west-2.amazonaws.com/gabe-random/email.png')
    %a{:href => "https://github.com/gdomingu"}
      %img(src='https://s3-us-west-2.amazonaws.com/gabe-random/github.png')
    %a{:href => "https://twitter.com/Gabudomingu"}
      %img(src='https://s3-us-west-2.amazonaws.com/gabe-random/twitter.png')
    %a{:href => "http://www.linkedin.com/pub/gabriel-dominguez/29/495/667/"}
      %img(src='https://s3-us-west-2.amazonaws.com/gabe-random/linkedin.png')
